HF_TOKEN=
HOME_PATH=
STAGE_DIR_PATH=$HOME_PATH/stage
PROJECT_PATH=$HOME_PATH/code/uncertainty-DLM
CONTAINER_IMAGE=$HOME_PATH/containers/ngc_pytorch_25.04_arm64.sif
CONTAINER_PYTHON=/usr/bin/python3
UV_ARCH=aarch64-unknown-linux-musl
UV_CACHE_PATH=$HOME_PATH/.uv_cache
UV_PYTHON_INSTALL_PATH=$HOME_PATH/.uv_python
